[package]
name = "slidepaca"
version = "0.1.0"
authors = ["Joakim Soderlund <joakim.soderlund@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
js-sys = "*"
wasm-bindgen = "*"
yew = "0.16"

[profile.release]
lto = true
opt-level = 's'
